:root {
    --bg-primary-color: #333;
    --bg-secondary-color: #fff;
    --bg-body-color: #f0f0f0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-body-color, #f0f0f0);
    color: var(--bg-primary-color, #333);
    text-align: center;
    box-sizing: border-box;
    width: 100vw;
}
header{
    background-color: var(--bg-primary-color, #333);
    color: var(--bg-secondary-color, white);
    padding: 20px;
    width: 100%;
}
.bio, .contact {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}